<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form th:action="@{/login2}" method="post" th:object="${user}">
		员工编号：<input th:field="*{empno}">
		<!-- 员工姓名：<input type="text" name="ename">
		员工岗位：<input type="text" name="job">
		上级编号：<input type="text" name="mgr">
		入职日期：<input type="date" name="hiredate">
		工资：<input type="number"  name="sal">
		奖金：<input type="number"  name="comm">
		部门：<input type="number"  name="deptno"> -->
		<input type="submit" value="提交">
	</form>
</body>
</html>